body,
.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: lightgray;
    max-width: 950px;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header {
    padding: 14px 50px 0 50px;
    justify-content: space-between; 
}

.footer {
    color: white;
    justify-content: center;
    padding: 8px;
}

.header
.name {
    font-weight: 600;
    font-size: large;
    color: white;
}

.list ul{
    list-style: none;
    display: flex;
    gap: 12px
}

.headshot {
    display: flex;
    width: 250px;
    height: auto;
    padding-bottom: 10px;
    flex-shrink: 1;
}

.intro {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 14px 0px;
    gap: 8px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.sectionone,
.sectiontwo,
.sectionfour,
.intro {
    display: flex;
}
.sectionone {
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.sectiontwo{
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    padding: 20px 15px 40px 15px;
    gap: 20px;
}

.sectionthree,
.quote {
    padding: 40px 60px;
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    color:  #1F2937;
}

.sectionfour{
    background-color: white;
    padding: 30px;
    justify-content: space-around;
}

.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 225px;
}

.text {
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    width: 150px;
}

.action {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #3882F6;
    width: 800px;
    padding: 25px;
}

.headertwo,
.headerthree,
.headerfour {
    color: white;
    font-size: 18pt;
    font-weight: 600;
}

.headerthree {
    color: black;
    text-align: center;
}
.headerfour {
font-size: 14pt
}

button.buttonone,
.buttontwo {
    border-radius: 10px;
    border: white solid 2px;
    color: white;
    padding: 12px;
    margin: auto;
    background-color: #3882F6;
}

.meet {
    width: 300px;
}
.email {
    align-self: center;
}

a {
    text-decoration: none;
    color:lightslategray;
}

.texttwo a,
.texttwo {
    color: white;
}
.texttwo a{
    text-decoration: underline;
}

img {
    width: 165px;
    height: auto;
    border-radius: 15px;
    border: black solid 2px;
}

img.headshott {
    width: 230px;
    height: auto;
    flex: 1;
    border-radius: 20px;
}